
.header{
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    padding: 0 100px 0 100px;
    justify-content: space-between;
}
.header-text {
    color: #f9faf8;
    /* align-self: flex-start; */
}
.links{
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.links p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 18px;
    color: #e5e7eb;
}

/* Content (Div -2 ) */
.content{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    align-items: center ;
}
.content-text{
    flex: 1;
}
.content-image{
    flex: 2;
    height: 200px;
    background-color: gray;
    
}
.content-button{
    padding:0 20px 0 20px ;
    font-size: 20px;
}
.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}
.content-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 200px;
    background-color: gray;
    margin-left: 50px;

}
.content button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}

.images-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.images-div{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
} 
.information{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
} 
.image-info{
    height: 200px;
    font-size: bolder;
    border: 5px solid #3882f6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Quotes section */
.quote-section {
    display: flex;
    flex-direction: column;
    background-color:#e5e7eb ;
    padding: 50px;
}

.qoute-text{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}
.qoute-author{
    font-size: 26px;
    font-weight: bold;
    align-self: flex-end;
}

/* Call to action */
/* Footer */
.footer{
    margin : 50px;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-call{
    color:#f9faf8;
    font-weight: 800;
    font-size: large;
}
.footer-subtext{
    color:#f9faf8;
    font-size: medium;
    font-weight: light;
}
.footer-button{
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    background-color: #3882f6;
    padding: 10px;

}

